.mode {
  position: fixed;
  top: 5rem;
  right: 3rem;
  padding: 0.4rem 1.2rem;
  background-color: var(--color-mode);
  border-radius: 6px;
  color: var(--color-black);
  font-size: 1.2rem;
  font-weight: 700;
  font-family: 'Radio Canada', -apple-system, Helvetica, Verdana, Arial;
}
